@import '../theme/clean-cut.scss';
@import '../layout/header.scss';
@import '../layout/form.scss';
@import '../layout/footer.scss';
@import '../layout/sidebar.scss';
@import '../layout/dashboard.scss';
@import '../layout/calendar.scss';

html {
	height: 100%;
	// display: inline-block;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

// path { 
//     stroke: steelblue;
//     stroke-width: 2;
//     fill: none;
// }

// .axis path,
// .axis line {
//     fill: none;
//     stroke: grey;
//     stroke-width: 1;
//     shape-rendering: crispEdges;
// }

.homepage, .about {
    text-align: center;
}

.view {
    height: 87vh;
    position: relative;
}

.loginPage {
    display: inline-block;
    text-align: center;
    width: 100vw;
    position: relative;
}