@import '../theme/clean-cut.scss';
@import '../layout/header.scss';
@import '../layout/form.scss';
@import '../layout/footer.scss';

html, body {
	height: 100%;
	// display: inline-block;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.view {
	position: relative;
	height: 90%;
}
