<div class="about">
    <div ng-controller="HeaderCtrl">
        <div header page="about"></div>
    </div>

	<div class="container" style="display: inline-block; text-align: justify; margin-top: 8em;">
		<p>Spectrum Health, located in Grand Rapids, Michigan, provides high quality, high value healthcare through its seven hospitals, more than 140 service sites, and Priority Health, a health plan with nearly 500,000 members.</p>
        <p>Our Patient Service Delivery Planning system increases customer satisfaction for patients while at the same time improves efficiency for Spectrum Health. It consists of two distinct parts, a mobile app and a web app, which share a common backend.</p>
        <p>Our mobile app enhances the experience for patients by finding the nearest Spectrum Health urgent care center with the shortest wait time.</p>
        <p>In addition, patients can see predicted future wait times so that they can schedule future visits on days and at times when wait times are normally shorter.</p>
        <p>Our companion web app provides Spectrum Health with graphs and analytics of both past and predicted patient arrivals. Spectrum Health leverages this data to staff their facilities, optimize business hours, and predict average treatment time.</p>
        <p>Both the mobile app and the web app use complex statistical software that predicts patient wait and treatment times. The design of this predictive model is completely modular so that it can be easily updated, enhanced, or even completely replaced.</p>
        <p>Our Patient Service Delivery Planning system is written in C#, JavaScript, and R using AngularJS, D3.js, and MongoDB.</p>
	</div>
</div>