
<div ng-controller="HeaderCtrl">
    <div header page="homepage"></div>
</div>

<div class="homepage">

    <div ng-controller="SidebarCtrl" class="sidebar" sidebar="state">
        <a href id="sidebar-toggle" ng-click="toggleState()">{{ icon }}</a>

        <ul ng-switch on="selected.name">
            <a ng-click="select(null)" ng-if="selected">Back</a>
            <li class="sidebar-title">{{ selected.name || "Preferences" }}</li>
            <div ng-switch-default>
                <li ng-repeat="preference in sidebarPreferences"><a class="sidebar-item" ng-click="select(preference)">{{ preference.name }}</a></li>
            </div>
            <div ng-switch-when="Data Sources">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="enableAPI(option)">{{ option.name }}</a></li>
            </div>
            <div ng-switch-when="Filters">
                <li ng-repeat="option in selected.options"><form><label class="sidebar-item">{{ option.name }}</br><input type="text" value="{{ option.value }}" ng-change="changeFilter(option)" ng-model="option.value" /></label></form></li>
            </div>
            <div ng-switch-when="Urgent Cares">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="enableUC(option)">{{ option.name }}</a></li>
            </div>
            <div ng-switch-when="Theme">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="changeTheme(option)">{{ option.name }}</a></li>
            </div>
            <div ng-switch-when="Settings">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="enableSetting(option)">{{ option.name }}</a></li>
            </div>
        </ul>
    </div>

    <div class="display-toggle">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="view" ng-click="savePreferences()" uib-btn-radio="'Calendar'">Calendar</label>
            <label class="btn btn-primary" ng-model="view" ng-click="savePreferences()" uib-btn-radio="'Dashboard'">Dashboard</label>
        </div>
    </div>

    <div ng-switch on="view">

        <!-- Dashboard -->
        <div ng-switch-when="Dashboard" class="dashboard" ng-controller="DashboardCtrl">
            <div class="container dp-ctn" ng-controller="DateRangeCtrl" >
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <datetimepicker class="left-dp" min-date="minDate" hour-step="hstep" minute-step="mstep" ng-model="startDate" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-date="false" show-spinners="true" readonly-time="false" hidden-time="false"></datetimepicker>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <datetimepicker class="right-dp" min-date="minDate" hour-step="hstep" minute-step="mstep" ng-model="endDate" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-date="false" show-spinners="true" readonly-time="false"></datetimepicker>
                    </div>
                </div>
                <button class="queryBtn btn btn-default" type="submit" ng-click="setDateRange(startDate, endDate)">Query</button>
            </div>

            <div class="container" ng-controller="GraphCtrl">
                <div class="row">
                    <div class="col-xs-12 col-md-8"><div sh-graph graph="bar"></div></div>
                    <div class="col-xs-12 col-md-4"><div sh-graph graph="pie"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12"><div sh-graph graph="line"></div></div>
                </div>
            </div>
    	</div>

        <!-- Calendar -->
        <div ng-switch-when="Calendar" ng-controller="CalendarCtrl">
            <calendar selected="today" details="details"></calendar>
        </div>
    </div>
</div>