<div class="homepage">

    <div ng-controller="HeaderCtrl">
        <div header page="homepage"></div>
    </div>

    <div ng-controller="SidebarCtrl" class="sidebar" sidebar="state">
        <a href id="sidebar-toggle" ng-click="toggleState()">{{ icon }}</a>

        <ul ng-switch on="selected.name">
            <a ng-click="select(null)" ng-if="selected">Back</a>
            <li class="sidebar-title">{{ selected.name || "Preferences" }}</li>
            <div ng-switch-default>
                <li ng-repeat="preference in sidebarPreferences"><a class="sidebar-item" ng-click="select(preference)">{{ preference.name }}</a></li>
            </div>
            <div ng-switch-when="API Selection">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="enableAPI(option)">{{ option.name }}</a></li>
            </div>
            <div ng-switch-when="Filters">
                <li ng-repeat="option in selected.options"><form><label class="sidebar-item">{{ option.name }}</br><input type="text" value="{{ option.value }}" ng-change="changeFilter(option)" ng-model="option.value" /></label></form></li>
            </div>
            <div ng-switch-when="Model">
                <li class="sidebar-item" ng-repeat="option in selected.options"><label>{{ option.name }}</br><input type="text" value="{{ option.value }}" ng-change="changeModel(option)" ng-model="option.value" /></label></li>
            </div>
            <div ng-switch-when="Theme">
                <li ng-repeat="option in selected.options"><a class="sidebar-item" ng-class="{ 'enabled': option.enabled, 'disabled': !option.enabled }" ng-click="changeTheme(option)">{{ option.name }}</a></li>
            </div>
        </ul>
    </div>

<!--     <div class="dashboard">
        <div class="date-picker">
        </div>

        <div class="graphs">
            <div ng-repeat="">
            </div>
        </div>
    </div>
 -->
    <div class="dashboard" ng-controller="DashboardCtrl">
        <div class="date-picker" ng-controller="DateRangeCtrl" >
            <!-- <pre>Selected date is: <em>{{ dt | date:'fullDate' }}</em></pre> -->
            <div class="row">
                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="startDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="setStartDate(startDate)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="setEndDate(endDate)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
<!--             <div>
                <p class="input-group">
                    <input type="date" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="setRange(endDate)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div> -->
        </div>

<!--         <div class="line-graph">
            <h3 style="color: white; padding-bottom: .4em;">Patients / Hour</h3>
            <nvd3 options='options' data='data' class="with-3d-shadow with-transitions"></nvd3>
        </div> -->
        <div class="line-graph">
            <h3 style="color: white; padding-bottom: .4em;">Providers / Hour</h3>
            <nvd3 options='options2' data='data2' class="with-3d-shadow with-transitions"></nvd3>
        </div>
    </div>
<!-- 		<div line-graph>
			<div class="container">
				<div line-graph class="jumbotron">
					<svg id="visualisation" width="1000" height="500"></svg>
				</div>
			</div>
		</div> -->

	</div>
</div>