<div class="loginPage" ng-controller="loginController">
    <div class="header">
        <h1>{{ title }}</h1>

        <!-- Angular-ui-bootstrap dropdown -->
        <span class="hamburger" uib-dropdown>
            <a class="glyphicon glyphicon-menu-hamburger dropdown-toggle" href id="simple-dropdown" uib-dropdown-toggle></a>

            <ul class="uib-dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
                <li ng-repeat="item in dropdownItems | filter:lowercase">
                <a ng-href="#/{{ item | lowercase }}">{{ item }}</a>
                </li>
            </ul>
        </span>
    </div>

    <div class="loginForm">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" ng-model="user.username" ng-minlength="3" ng-maxlength="8" autocomplete="off"required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Username is required</p> 
                <p ng-show="userForm.username.$error.minlength" class="help-block">Username too short</p>
                <p ng-show="userForm.username.$error.maxlength" class="help-block">Username too long</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" ng-minlength="5" ng-model="password" autocomplete="off" required>
                <p ng-show="userForm.password.$error.minlength" class="help-block">Password too short</p>
                <p ng-show="userForm.password.$error.maxlength" class="help-block">Password too long</p>
            </div>

            <div class="submit-group">
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                <a href="reset">Forgot password?</a>
            </div>

        </form>
    </div>
</div>