
$black: #444545; 		
$white: #fff; 	
$details-height: 450px;
$cal-details-width: 1055px;							// 95.5% or 1055
$row-height: 40px;				
$row-header-width: 60px; 							// cal-details-width - (cal-width * 6.99) or 60px
$cell-width: $cal-details-width / 7;				// 13% or 150px
$cell-height: 120px;

$detail-cell-height: 35px;

.cal {
	margin-bottom: 3em;
	margin-top: 2em;
	background-color: $white;
	// width: 920px;
	height: auto;
	padding: 0;

	.cal-header {
		text-align: center;
		height: 4em;
		background-color: $black;
		color: $white;
		padding: .7em;

		h1 {
			position: relative;
			display: inline;
			vertical-align: middle;
		}
		.cal-arrow-left {
			float: left;
		}
		.cal-arrow-right {
			float: right;
		}
	}

	.cal-main {
		padding: 0;
		margin: 0;
		margin-bottom: 3em;

		.cal-day-names {
			padding:0;

			.day-name {
				width: $cell-width;
				height: $cell-height / 3;
				display: inline-block;
				text-align: center;
				cursor: pointer;
				position: relative;
				padding: 1em;
				background-color: $black;
				color: $white;
				border: 1px solid black;
				margin-top: 3em;
			}
		}

		.cal-week {

			.cal-details-container {
				height: $details-height;
				display: none;
				overflow: auto;

				.cal-details {
					width: $cal-details-width + $row-header-width;
					background-color: white;

					.cal-row-header {
						width: $row-header-width;
						height: $detail-cell-height;
						background-color: $black;
						color: $white;
						border: 1px solid black;
					}

					.cal-detail {
						width: $cell-width;
						height: $detail-cell-height;
						border: 1px solid black;

					}
				}
			}

			.d-show {
				display: block;
			}

			.cal-row {

				&:hover {
					.call-cell {
						background-color: $black;
					}
				}

				.cal-cell {
					width: $cell-width;
					height: $cell-height;
					display: inline-block;
					text-align: center;
					cursor: pointer;
					position: relative;
					padding: 1em;
					background-color: grey;
					color: $white;
					border: 1px solid black;

					// &:hover {
					// 	background-color: $black;
					// 	color: $white;
					// }

					.day-number {
						margin: 0;
						font-size: 24px;
						letter-spacing: 1.5px;
					}
				}				
			}
			.cal-arrow-right {
				display: inline-block;
				float: left;
			}

			.cal-day-name {
				width: $cell-width;	
				height: $cell-height / 3;
				display: inline-block;
				padding-top: .7em;
				background-color: $black;
				color: $white;
				margin-top: 3em;
			}


		}

	}
}
