$block-height: 500px;
$header-height: 50px;

.col-xs-12, .col-md-8, .col-md-4, .col-md-12 {
	margin-top: 2em;
}

.dash-block {

	height: $block-height;

	h3 {
		background-color: $dark;
		color: $light;
		padding: 10px 0;
		height: $header-height;
		margin: 0;
	}

	.graph {
		background-color: $light;
		width: auto;
		height: $block-height - $header-height;
	}
} 

.date-picker {
	display: inline-block;
	position: relative;
	background-color: pink;
	width: 50%;
}