.loginForm {
	position: relative;
	display: inline-block;
	padding: 3em 6em;
	margin-top: 23vh;
	// border-radius: 1em;

	input[type="text"], input[type="password"] {
		text-align: center;
		border: none;
	}

	.submit-group {
		width: auto;
		height: 3em;

		button[type="submit"] {
			float: left;
		}

		> a {
			position: relative;
			float: right;
			font-size: 12px;
			text-align: right;
		}
	}
}
