$hamburgerSize: 3.5em;

.sh-header, .navbar-fixed-top {
	height: $header-height;				// Defined in default.scss
	padding: 0;
	margin: 0;
	border-bottom: none;

	.container {
		height: 100%;

		.navbar-header {
			height: inherit;
			padding-top: 0.15 * $header-height;

			.navbar-brand {
				height: inherit;
				margin: 0;
				padding: auto;
				padding-left: 0;
				padding-right: 0;
			}

			.navbar-text {
				height: inherit;
				margin: 0;
				bottom: 0;
				padding-top: 0.35 * $header-height;
				padding-left: 0.8em;
				font-style: italic;
			}
		}

		.navbar-collapse {
			height: 100%;

			.navbar-right {
				padding-top: 1.4em;			// Todo - fix to automatic? Height isn't working..
				height: inherit;
				max-height: $header-height;

				.dropwdown {
					height: inherit;

					a {
						height: inherit;
					}
				}
			}
		}
	}
}


$tablet-breakpoint: 750px;

@media (max-width: $tablet-breakpoint) {
	.sh-header {
		.navbar-text {
			visibility: hidden;
		}
	}
}
