$hamburgerSize: 3.5em;

.header {
	width: auto;
	height: 10%;
	text-align: center;
	padding-top: 1em;

	h1 { 
		margin: 0 auto;
		position: relative;
		display: inline-block;
		text-align: center;
		padding-top: .08em;
	}

	.hamburger {
		position: absolute;
		// display: inline-block;
		z-index: 3;
		float: right;
		margin: .95em 0 0 7em;

		.glyphicon { 
			font-size: $hamburgerSize;
		}
	}

	.uib-dropdown-menu {
	    margin: 0;
	    padding: 0;
	    border-radius: 0;
	    margin-right: 2em;
	}
}