@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$primary: #247BA0; 
$secondary: #888; 		
$tertiary: #ed6a5a;

$accent: red;

$black: #444545; 		
$white: #fff; 			

$pageShadowColor: #000;
$green: #388659;
$red: #fb3640;


body { 
	background: $white url("../../../img/graphy.png");
}

.sh-header {
	background-color: $black;

	.container {
		.navbar-header {
			.navbar-brand {
				font-family: 'Poiret One', sans-serif;
				letter-spacing: .2em;
				font-size: 30px;
				color: $white;
			}
		}

		.navbar-right a {
			color: $white;
		}

		.navbar-nav > .active > a{
			background-color: $white;
			border: none;
			color: $black;

			&:hover {
				color: $primary;
			}
		}
	}
}

.loginForm {
	background-color: $black;

	> form {
		color: $white;

		input[type="text"], input[type="password"] {
			font-family: 'Lato', sans-serif;

			-moz-box-shadow:    inset 0 0 1px $pageShadowColor;
		   	-webkit-box-shadow: inset 0 0 1px $pageShadowColor;
		   	box-shadow:         inset 0 0 1px $pageShadowColor;
		}

		button[type="submit"] {
			background-color: $primary;
			text-decoration: none;
			border: none;

			&:hover {
				background-color: $primary;
			}
		}
	}
}

.sidebar {
    transition : 100ms left;

    #sidebar-toggle {
	    background-color: $primary;
	    color: $white;
	    text-decoration: none;
	    border: 1px solid $black;
	    // border-radius: 4px;

	    &:hover {
	    	background-color: $secondary;
	    }
	}

	ul {
	    list-style: none;

		.sidebar-item  {
		    background-color: $black;
		    color: $white;
		    line-height: 2em;
		    text-decoration: none;

		    &:hover {
		    	background-color: $secondary;
		    	cursor: pointer;
		    }

		    input {
		    	color: black;
		    }
		}

		.disabled {
			background-color: $red;
		}

	    .enabled {
			background-color: $green;
		}

		.sidebar-title {
			font-family: 'Lato', sans-serif;
			background-color: $white;
			color: $black;
			font-size: 20px;
			text-align: center;
			vertical-align: middle;
			letter-spacing: .15em;
		}
	}
}

.display-toggle {

    .btn-primary {
        color: rgba(255, 255, 255, .85);
        background-color: $secondary;
        border-color: $black;

        &:hover {
        	background-color: $secondary;
        }
    }

    .active {
        background-color: $primary;
        color: $white;

        &:hover {
        	background-color: $primary;
        }
    }
}

.dashboard {
	.dash-block {
		h3 {
			background-color: $black;
			color: $white;
		}
	}

	.graph { 
		background-color: $white;
	}

	.dp-ctn {
		.row {
			.col-xs-6 {
				// background-color: $white;

				.left-dp, .right-dp {
					input {
						background-color: $white;
						color: $black;
					}

					a {
						color: $primary;

						&:hover {
							color: $secondary;
						}
					}
				}
			}
		}

		.queryBtn {
			background-color: $black;
			color: $white;
			border-color: $black;

			&:hover {
				background-color: $secondary;
			}
		}
	}
}